.menu{
    width:100%;
    position:static;
    height:18.5%;
        }

 a, a:hover, a:visited, a:active{
    text-decoration:none;
        }
    
hr{
    margin-top: 3%;
    width: 100%;
    height: 1px;
    background-color:#F5F2EF;
    border: none; /*on supprime le style par défaut*/
        }
    
.tarif{
    margin-top:-20px;
    width: 100%;
    height: 43%;
    text-align: center;
    background-color:#F1F0EF;
        }
    
.autour{
        margin-left:14%;
        margin-right:18%;

        }
    
.onglerie{
        margin-left:10%;
        font-size:40px;
        }

.atelier{
    margin-top:10%;
    height:400px;
    width:100%;
    border: 1px solid rgba(255, 0, 0, .5);
    padding-left: 4%;
    padding-top: 5%;
    color: grey;
    font-family: 'Playfair Display SC',Georgia,"Times New Roman",serif;
}